
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  background: url(packages/MuzQuizz/Images/Logo_MuzQuizz.jpg);
  background-repeat: no-repeat;
}

h1, p {
  color: #333;
}

#Category_id {
  text-shadow: 2px 2px black;
  font-size: 36px;
  
  position: absolute;
  top: 150px;
  left: 250px;
}

#CategoryTitle_id {
  text-shadow: 2px 2px black;
  font-size: 72px;
  font-weight: 500;
  color: white;
  
  position: absolute;
  top: 50px;
  left: 225px;
}

#Instructions_id {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px black;
  
  position: absolute;
  top: 650px;
  left: 40px;
}

#Rock_id {
  position: absolute;
  top: 220px;
  left: 220px;
}

#Classic_id {
  position: absolute;
  top: 475px;
  left: 220px;
}

#Countdown_id {
  text-shadow: 2px 2px black;
  font-weight: 900;
  color: white;
  font-size: 128px;
  
  position: absolute;
  top: 275px;
  left: 350px;
}

#ScoreTimer_id {
  text-shadow: 2px 2px black;
  text-align:right;
  position: absolute;
  font-size: 72px;
  top: 540px;
  left: 335px;
  font-weight: 900;
  color: white;
}

#GoodAnswers_id {
  text-shadow: 2px 2px black;
  font-size: 36px;
  font-weight: 900;
  color: white;
  
  position: absolute;
  top: 715px;
  left: 705px;
}

#GoodAnswersTitle_id {
  text-shadow: 2px 2px black;
  font-size: 28px;
  font-weight: 900;
  color: white;
  
  position: absolute;
  top: 685px;
  left: 545px;
}

#CurrentScore_id {
  text-shadow: 2px 2px black;
  font-size: 36px;
  text-align:right;
  font-weight: 900;
  color: white;
  
  position: absolute;
  top: 715px;
  left: 425px;
}

#CurrentScoreTitre_id {
  text-shadow: 2px 2px black;
  position: absolute;
  font-size: 28px;
  top: 685px;
  left: 290px;
  font-weight: 900;
  color: white;
}

#TotalScoreText_id {
  text-shadow: 3px 3px black;
  font-size: 72px;
  font-weight: 500;
  color: white;
  
  position: absolute;
  top: 250px;
  left: 125px;
}

#TotalScore_id {
  text-shadow: 3px 3px black;
  font-size: 82px;
  font-weight: 900;
  color: white;
  
  position: absolute;
  top: 400px;
  left: 315px;
}

#AnswersResult_id {
  text-shadow: 3px 3px black;
  font-size: 48px;
  font-weight: 500;
  color: white;
  
  position: absolute;
  top: 600px;
  left: 75px;
}

.CategoryButton:{
  /*give the button a drop shadow*/
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  /*style the text*/
  color:#f3f3f3;
}

.CategoryButton:hover,.CategoryButton:focus{
  background-color :#6b6e6b; /*make the background a little darker*/
  /*reduce the drop shadow size to give a pushed button effect*/
  -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
  box-shadow: 0 0 1px rgba(0,0,0, .75);
}

.ChoiceButton{
  font-size: 20px;
  font-weight: 400;
  width: 400px;
  height: 75px;
  cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
  background:#919491; /*the colour of the button*/
  border:1px solid #6b6e6b; /*required or the default border for the browser will appear*/
  /*give the button curved corners, alter the size as required*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*give the button a drop shadow*/
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  /*style the text*/
  color:#f3f3f3;
}

.ChoiceButton:hover,.ChoiceButton:focus{
  background-color :#6b6e6b; /*make the background a little darker*/
  /*reduce the drop shadow size to give a pushed button effect*/
  -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
  box-shadow: 0 0 1px rgba(0,0,0, .75);
}

#ChoiceNo1_id {
  position: absolute;
  top: 175px;
  left: 200px;
}

#ChoiceNo2_id {
  position: absolute;
  top: 275px;
  left: 200px;
}

#ChoiceNo3_id {
  position: absolute;
  top: 375px;
  left: 200px;
}

#ChoiceNo4_id {
  position: absolute;
  top: 475px;
  left: 200px;
}